{% extends 'admin/adminbase.html' %}

{% load static %}

{% block css_block %}
<style>
  /* Add any custom CSS styling here if needed */
</style>
{% endblock %}

{% block body_block %}

<div class="container">
    <h1 class="text-center text-primary">Prêt Transaction</h1>
    <div class="my-5 users">

        <table class="table text-center table-light table-hover table-bordered table-striped">
            <thead class="bg-dark">
                <tr class="text-dark">
                    <th scope="col">N°</th>
                    <th scope="col">ID de l'utilisateur</th>
                    <th scope="col">Nom d'utilisateur</th>
                    <th scope="col">Montant du paiement</th>
                    <th scope="col">ID de Transaction</th>
                    <th scope="col">Date</th>
                    <th scope="col">Adresse e-mail du client</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in transactions %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ loan.customer.id }}</td>
                    <td>{{ loan.customer }}</td>
                    <td>{{ loan.payment }} Tk</td>
                    <td>{{ loan.transaction }}</td>
                    <td>{{ loan.payment_date }}</td>
                    <td>{{ loan.customer.user.email }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>

{% endblock %}
